<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="managedBean" required="true" type="sv.edu.uesocc.ingenieria.prn335_2018.flota.flotawebapp.boundary.jsf.AbstractFrmDataModel"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:panelGroup id="botones">
            <p:commandButton id="guardar" value="GUARDAR" update="pnlGeneral" icon="ui-icon-disk" actionListener="#{cc.attrs.managedBean.btnAgregar}" rendered="#{cc.attrs.managedBean.estado == 'CREAR'}"/>
            <p:commandButton id="modificar" value="MODIFICAR" update="pnlGeneral" icon="ui-icon-check" actionListener="#{cc.attrs.managedBean.btnModificar}" rendered="#{cc.attrs.managedBean.estado == 'EDITAR'}"/>
            <p:commandButton id="ConfirmEliminar" value="ELIMINAR" onclick="PF('delete').show();" icon = "ui-icon-trash" rendered="#{cc.attrs.managedBean.estado == 'EDITAR'}"/>
            <p:dialog id="deleteButtons" widgetVar="delete" header="Confirmación" modal="true" hideEffect="fade" resizable="false" showEffect="fade" draggable="false">
                ¿Está seguro que quiere <br/>
                eliminar el registro?<br/>
                <p:commandButton id="eliminar" value="Si" actionListener="#{cc.attrs.managedBean.btnEliminarHandler}" onclick="PF('delete').hide()" icon="ui-icon-check" update="pnlGeneral" />
                <p:commandButton value="No" icon="ui-icon-close" onclick="delete.hide();"/>
            </p:dialog>
            
        </h:panelGroup>
    </cc:implementation>>
</html>