<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet name="css/default.css"/>
            <h:outputStylesheet name="css/cssLayout.css"/>
            <ui:insert id="tituloCabecera" name="tituloCabecera"><title>Aqui va el titulo</title></ui:insert>  
        </h:head>

        <h:body>
            <p:panel>
                <h1 align="center"> <ui:insert name="nombreEntidad">Nombre de nuestra entidad</ui:insert></h1>
            </p:panel>
            <br/>

            <p:scrollPanel mode="native" id="scrollpanel">
                <h:form id="formTabla">
                    <ui:insert name="lazyDataModel">Aqui va la tabla</ui:insert>
                </h:form>
                <h:form id="formBotonesTabla">
                    <h:panelGroup id="pnlGeneral" >
                        <ui:insert name="botonesTabla">aquí van los botones de la tabla</ui:insert>
                    </h:panelGroup> 
                </h:form>
                <h:form id="formformulario">
                    <h:panelGroup id="pnlformulario">
                        <ui:insert name="formulario">aqui va el formulario</ui:insert>
                    </h:panelGroup>
                </h:form>
                <h:form id="formPnlAlmacenar">
                    <h:panelGroup id="pnlAlmacenar" >
                        <ui:insert name="botonesFormulario">aquí van los botones de la tabla</ui:insert>
                    </h:panelGroup> 
                </h:form>                
            </p:scrollPanel>
            <br/>

            <p:panel style="position: fixed; bottom: 0; width: 97.5%">
                Todos los Derechos Reservados
            </p:panel>
        </h:body>
    </ui:composition>

</html>
