<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:CComponents="http://xmlns.jcp.org/jsf/composite/CComponents"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="../resources/Templates/plantillaParcial.xhtml">

        <ui:define name="tituloCabecera"><title>FLOTILLA DE TRANSPORTE</title></ui:define>

        <ui:define name="nombreEntidad">Modelo</ui:define>

        <ui:define name="lazyDataModel">
            <p:dataTable id="tblModel" value="#{frmModelo.modelo}" var="mo" paginator="true"
                         rows="3" lazy="true" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         selectionMode="single" selection="#{frmModelo.registro}">
                <p:ajax event="rowSelect" listener="#{frmModelo.onRowSelected}" update="formBotonesTabla formformulario" />
                <p:ajax event="rowUnselect" listener="#{frmModelo.onRowDeselect}" update="formBotonesTabla formformulario" />                
                <p:column headerText="ID" >
                    <p:outputLabel value="#{mo.idModelo}"/>
                </p:column>
                <p:column headerText="MARCA" >
                    <p:outputLabel value="#{mo.idMarca.nombre}"/>
                </p:column>
                <p:column headerText="TIPO" >
                    <p:outputLabel value="#{mo.idTipoVehiculo.nombre}"/>
                </p:column>
                <p:column headerText="NOMBRE" >
                    <p:outputLabel value="#{mo.nombre}"/>
                </p:column>
                <p:column headerText="AÑO" >
                    <p:outputLabel value="#{mo.anio}"/>
                </p:column>
            </p:dataTable>
            <br/>
        </ui:define>        

        <ui:define name="botonesTabla">
            <CComponents:Botones managedBean="#{frmModelo}"/>
        </ui:define>

        <ui:define name="formulario">
            <br/>
            <p:tabView rendered="#{frmModelo.estado == 'CREAR' or frmModelo.estado == 'EDITAR'}">
                <p:tab title="Generalidades" id="tab1">
                    <p:panelGrid columns="2" columnClasses="label, value" id="datos">
                        <p:outputLabel value="ID" for="txtId"/>
                        <p:inputText value="#{frmModelo.registro.idModelo}" id="txtId" disabled="true"/>
                        <h:outputLabel value="Tipo de Vehiculo" for="tipoVehiculoMenu"/>
                        <h:selectOneMenu id="tipoVehiculoMenu" value="#{frmModelo.registro.idTipoVehiculo}" required="false">
                            <f:selectItem itemLabel="Seleccione" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{frmModelo.listaTipoVehiculo}" var="item" itemValue="#{item}" itemLabel="#{item.nombre}"/>
                        </h:selectOneMenu>
                        <h:outputLabel value="Marca" for="tipoMarcaMenu"/>
                        <h:selectOneMenu id="tipoMarcaMenu" value="#{frmModelo.registro.idMarca}" required="false"> 
                            <f:selectItem itemLabel="Seleccione" itemValue="" noSelectionOption="true" />
                            <f:selectItems value="#{frmModelo.listaMarca}" var="item" itemValue="#{item}" itemLabel="#{item.nombre}"/>
                        </h:selectOneMenu>
                        <p:outputLabel value="Nombre" for="txtNombre"/>
                        <p:inputText value="#{frmModelo.registro.nombre}" id="txtNombre" disabled="#{frmModelo.estado != 'CREAR'}"/>
                        <p:outputLabel value="Año" for="txtanio"/>
                        <p:inputText value="#{frmModelo.registro.anio}" id="txtanio" disabled="#{frmModelo.estado != 'CREAR'}"/>
                    </p:panelGrid>
                </p:tab>
                <p:tab title="Partes" id="tab2" disabled="#{frmModelo.estado != 'EDITAR'}">

                </p:tab>
            </p:tabView>
        </ui:define>

        <ui:define name="botonesFormulario">
            <!--CComponents:BotonesAlmacenamiento managedBean="#{frmModelo}"/-->
        </ui:define>

    </ui:composition>
</html>


