<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:CComponents="http://xmlns.jcp.org/jsf/composite/CComponents">
    <ui:composition template="../resources/Templates/PlantillaParcial.xhtml">
        <ui:define name="nombreEntidad">PARTES PARA EL MODELO</ui:define>
        <ui:define name="tituloCabecera"><title>FLOTILLA DE TRANSPORTE</title></ui:define>
        <ui:define name="formulario"></ui:define>
        <ui:define name="lazyDataModel">
            <p:dataTable id="tblModel" value="#{frmModeloParte.modelo}" var="p" paginator="true"
                         rows="3" lazy="true" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                         selectionMode="single" selection="#{frmModeloParte.registro}" >
                <p:ajax event="rowSelect" listener="#{frmModeloParte.onRowSelected}"/>
                <p:ajax event="rowUnselect" listener="#{frmModeloParte.onRowDeselect}"/>
                <p:column headerText="PARTE" >
                    <p:outputLabel value=""/>
                </p:column>
                <p:column headerText="ESTADO" >
                    <p:outputLabel value=""/>
                </p:column>
            </p:dataTable>  
        </ui:define>
        <ui:define name="botonesTabla">
            <CComponents:Botones managedBean="#{frmModeloParte}"/>
        </ui:define>
        <ui:define name="formulario">
            <p:panelGrid columns="2" columnClasses="label, value" id="datos" rendered="#{frmModeloParte.estado == 'CREAR' or frmModeloParte.estado == 'EDITAR'}">
                <p:outputLabel value="Activo:" for="activo"/>
                <p:selectBooleanCheckbox  id="activo" value="#{frmModeloParte.registro.activo}" required="true" />
                <p:outputLabel value="Parte:" for="ConfirmEliminar"/>
                <p:commandButton id="ConfirmEliminar" value="SELECCIONAR" onclick="PF('delete').show();" icon = "ui-icon-trash" rendered="#{frmModeloParte.estado == 'CREAR'}"/>
                <p:dialog id="deleteButtons"  header="Seleccione una Parte" modal="true" hideEffect="fade" showEffect="fade" draggable="false">
                    <p:commandButton id="eliminar" value="Si" onclick="PF('delete').hide()" icon="ui-icon-check" update=":scrollpanel" />
                    <p:commandButton value="No" icon="ui-icon-close" onclick="delete.hide();"/>
                </p:dialog>
            </p:panelGrid>
        </ui:define>
    </ui:composition>

</html>
